<h1>Productos:</h1>

<ul>
  {{#each products}}
  <li>
    <h2>Nombre: {{this.title}}</h2>
    <p>Descripción: {{this.description}}</p>
    <p>Categoría: {{this.category}}</p>
    <p>Precio: {{this.price}}</p>
  </li>
  {{/each}}
</ul>